<md-card>

  <md-card-subtitle>Thursday, 11:40 - 12:25</md-card-subtitle>
  <md-card-title>Room 2</md-card-title>

  <md-card-content>
    <p>
      <md-input type="text" placeholder="Title" disabled value="Angular Material 2: Reward your app with high-quality UI in minutes" style="width: 100%;"></md-input>
    </p>
    <p>
      <md-input type="text" placeholder="Level">
        <md-hint align="end">Beginner? Guru? Other?</md-hint>
      </md-input>
    </p>
    <p>
      <md-input type="text" placeholder="Length">
        <span md-suffix>min</span>
      </md-input>
    </p>
    <p>
      <md-checkbox>
        Published
      </md-checkbox>
    </p>
    <p>
      <md-radio-group>
        <md-radio-button value="en">English</md-radio-button>
        <md-radio-button value="no">Norwegian</md-radio-button>
      </md-radio-group>
    </p>
    <p>
      <button md-raised-button color="primary">Update</button>
    </p>
  </md-card-content>

</md-card>
