<div class="container">

  <md-card>

    <md-card-header>
      <img md-card-avatar src="https://javazone.no/javazone-web-api/speakers/1c8ffaf1071b41bd313c5226193c14bf0a8ec755cfdc1cc9222c07d0ec5bc924/image">
      <md-card-title>Maxim Salnikov</md-card-title>
      <md-card-subtitle>salnikov@gmail.com</md-card-subtitle>
    </md-card-header>

    <img md-card-image src="https://2016.javazone.no/assets/app/assets/header_sal1.jpg">

    <md-card-subtitle>Thursday, 11:40 - 12:25 @ Room 2</md-card-subtitle>
    <md-card-title>Angular Material 2: Reward your app with high-quality UI in minutes</md-card-title>
    <md-card-content>
      <p>Our amazing web applications need high-quality UI components. So we have Angular 2 app on one hand and Material Design visual language on another.</p>
    </md-card-content>

    <md-card-actions>
      <button md-button color="primary">Edit</button>
      <button md-raised-button color="warn">Delete</button>
    </md-card-actions>

  </md-card>

</div>
